@font-face {
	font-family: 'Averta PE';
	src:
		url('AvertaPE-Light.woff2') format('woff2'),
		url('AvertaPE-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Averta PE';
	src:
		url('AvertaPE-Regular.woff2') format('woff2'),
		url('AvertaPE-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Averta PE';
	src:
		url('AvertaPE-Semibold.woff2') format('woff2'),
		url('AvertaPE-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Averta PE';
	src:
		url('AvertaPE-Bold.woff2') format('woff2'),
		url('AvertaPE-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
